{% extends "jobtracker/base.html" %}
{% block content %}

<!-- Grid -->
<div class="w3-row">

<!-- Job entries -->
<div class="w3-col l8 s12">

	<div>
		<h2>Job : {{ parent_job.title }}</h2>
		<a class="w3-button w3-padding-large w3-green w3-border w3-round-large" href="{% url 'post-create' parent_job.id %}">Add New Post</a><p>
	</div>
	<p>

	<!-- post entry -->
	{% for post in posts %}
		<div id="post" class="w3-card-4 w3-margin w3-white w3-round-xlarge">
			<div class="w3-container">
				<p> 
					<font color="green">Post : {{ post.date_posted|date:"d F, Y H:i" }} </font>
				</p>
				<textarea id="textBox1" name="content" style="min-width: 100%" TextMode="MultiLine" onkeyup="setHeight('textBox1');" onkeydown="setHeight('textBox1');">{{ post.description }}</textarea>
				{% if post.attachment|length > 0 %}
				<p>
					attachment : <a href="{{ post.attachment.url }}">{{ post.attachment }}</a> 
				</p>
				{% endif %}
				<p>
					<a class="w3-button w3-small w3-padding-large w3-green w3-border w3-round-large" href="{% url 'post-post' parent_job.id post.id %}">Edit</a>
					<a class="w3-button w3-small w3-padding-large w3-red w3-border w3-round-large" href="{% url 'post-delete' parent_job.id post.id %}">Delete</a>
				</p>
			</div>
		</div>
	{% endfor %}

	
<!-- END GRID -->
</div><br>

<!-- END w3-content -->
</div>

<!--
    Adjust the height of the displayed textarea to include the complete text (since this can vary greatly in size from an email, to a one line comment)
    Note: this is for height only ; the width is fixed
-->
<script type="text/javascript">
	function setHeight(fieldId){
		document.getElementById(fieldId).style.height = document.getElementById(fieldId).scrollHeight+'px';
	}
	setHeight('textBox1');
</script>


{% endblock content %}
